$theme-light-gold: #fff7f2;
$theme-light-pink: #faeeea;

.sectionContainer.cardContainer {
  margin-bottom: 6em;
}

.cardContainer {
  height: 23vw;
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.cardContainer.isVisible {
  opacity: 1;
  transform: translate(0, 0);
}

.cardRow {
  width: 70%;
  justify-content: center;
  border: 1px solid #f6f1ee;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
  transition: all 300ms ease-in-out;
}

.cardRow:hover {
  transform: translate3d(0px, -1px, 0px);
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
}

.cardCol {
  justify-content: center;
  height: 100%;
}

.cardCol.cardImage {
  display: flex;
  width: 50%;
  max-height: 100%;
  align-items: center;
  border-radius: 12px;
  background-color: $theme-light-gold;
}

.cardCol.cardImage:nth-child(1) {
  border-radius: 12px 0 0 12px;
}

.cardCol.cardImage:nth-child(2) {
  border-radius: 0 12px 12px 0;
  background-color: $theme-light-pink;
}

.cardCol.cardImage:nth-child(2) img {
  min-width: 80%;
}

.sectionContainer .cardRow .cardCol.cardImage:nth-child(3) {
  border-radius: 12px 0 0 12px;
  background-color: #ce5029;
}

.cardCol.cardImage img {
  max-width: 50%;
  height: auto;
}

.cardCol.cardText {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4em;
  margin-bottom: 4em;
}

.cardTitle {
  font-family: "baskerville";
  font-size: 1.8em;
  margin-bottom: 0;
  color: #d4938b;
}

.positionTitle {
  font-family: "baskerville";
  font-size: 1.3em;
  margin-bottom: 1em;
  color: #9e9e9e;
}

.cardInfo {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #c09a8d;
}

.cardStack {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  font-weight: 500;
  color: #edae98;
}

@media screen and (max-width: 1199px) {
  .cardContainer {
    height: 45vw;
  }

  .cardCol.cardImage:nth-child(1) {
    border-radius: 12px 12px 0 0;
  }

  .cardCol.cardImage:nth-child(2) {
    border-radius: 12px 12px 0 0;
  }

  .cardCol.cardImage:nth-child(3) {
    border-radius: 12px 12px 0 0;
  }

  .cardRow.cardRight .cardCol:nth-child(1) {
    order: 2;
  }

  .cardRow.cardRight .cardCol:nth-child(2) {
    order: 1;
  }

  .cardCol.cardImage {
    width: 100%;
    height: 55%;
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .cardCol.cardText {
    max-height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 1024px) {
  .cardContainer {
    height: 50vw;
  }

  .cardCol.cardImage img {
    max-width: 50%;
    height: auto;
  }

  .cardTitle {
    font-size: 2em;
  }

  .positionTitle {
    font-size: 1.4em;
    margin-bottom: 1em;
  }

  .cardInfo {
    font-size: 1em;
  }

  .cardStack {
    font-size: 1em;
    font-weight: 400;
  }
}
@media screen and (max-width: 817px) {
  .cardContainer {
    height: 60vw;
  }
}

@media screen and (max-width: 768px) {
  .cardCol.cardImage img {
    max-width: 65%;
    height: auto;
  }

  .positionTitle {
    margin-bottom: 2em;
  }

  .cardInfo {
    display: none;
  }

  .cardStack {
    font-size: initial;
  }
}

@media screen and (max-width: 600px) {
  .cardContainer {
    height: 70vw;
  }

  .positionTitle {
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 460px) {
  .cardContainer {
    height: 70vw;
  }

  .cardInfo {
    display: none;
  }

  .cardTitle {
    font-size: 1.4em;
  }

  .positionTitle {
    font-size: 1em;
    margin-bottom: 1em;
  }

  .cardCol.cardImage img {
    max-width: 90%;
    height: auto;
  }

  .cardRight .cardCol.cardImage img {
    max-width: 100%;
    height: auto;
  }

  .cardStack {
    font-size: 0.7em;
  }
}
