$jumbotron-bg: #ffffff;
$jumbotron-color: #95483f;
$border-radius-lg: 0em;

.landingBanner {
  display: flex;
  align-items: center;
  height: auto;
  border-radius: 0em;
}

.quoteRow {
  width: 100%;
}

.quoteRow.quoteTitle {
  width: 90%;
  font-family: "baskerville";
  font-size: 5em;
  text-align: left;
  background-color: white;
  // border-style: solid;
  // border-width: 2px;
  // border-color: white;
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #c09a8d;
  animation: fadeinQuote 1.2s;
}

.quoteRow.quote {
  width: 90%;
  text-align: left;
  font-family: "montserrat";
  font-weight: 300;
  font-size: 1.4em;
  background-color: white;
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #9e9e9e;
  animation: fadeinQuote 1.4s;
}

.quoteContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgContainer {
  width: 100%;
  height: auto;
  animation: fadeinImg 1.5s;
}

.textContainer {
  align-items: flex-end;
}

.quoteLine {
  margin-top: 1em;
  align-self: flex-start;
  border-radius: 1em;
  width: 30%;
  border-top: solid;
  border-width: 4px;
  opacity: 0.4;
  border-color: #9e9e9e;
}

.quoteRow.quoteTitle span {
  color: white;
  background-color: #c09a8d;
  padding: 0 0.1em 0.1em 0.1em;
}

.socialLinks a {
  color: #9e9e9e;
  font-size: 1.3em;
}

.socialLinks .ml-1 {
  margin: 1em 0.7em 0em 0.7em;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.socialLinks .ml-1:hover {
  color: #ebbbaa;
  transform: scale(1.1);
}

@media screen and (max-width: 767px) {
  .landingBanner {
    align-items: flex-end;
  }

  .landingRow .quoteContainer:nth-child(1) {
    order: 3;
  }

  .landingRow .quoteContainer:nth-child(2) {
    order: 1;
  }

  .landingRow:nth-child(2) {
    order: 2;
  }

  .textContainer {
    align-items: center;
  }

  .quoteRow.quoteTitle {
    width: 80%;
    text-align: center;
  }

  .quoteRow.quote {
    text-align: center;
  }

  .quoteRow.quoteLine {
    align-self: center;
    border-style: none;
  }

  .socialLinks .ml-1 {
    margin: 0em 1em 0em 0em;
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
  }
}

@keyframes fadeinQuote {
  from {
    position: relative;
    opacity: 0;
    top: 1em;
  }

  to {
    position: relative;
    opacity: 1;
    top: 0;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadeinQuote {
  from {
    position: relative;
    opacity: 0;
    top: 1em;
  }

  to {
    position: relative;
    opacity: 1;
    top: 0;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeinQuote {
  from {
    position: relative;
    opacity: 0;
    top: 1em;
  }

  to {
    position: relative;
    opacity: 1;
    top: 0;
  }
}

/* Internet Explorer */
@-ms-keyframes fadeinQuote {
  from {
    position: relative;
    opacity: 0;
    top: 1em;
  }

  to {
    position: relative;
    opacity: 1;
    top: 0;
  }
}

@keyframes fadeinImg {
  from {
    position: relative;
    opacity: 0;
    left: 1em;
  }

  to {
    position: relative;
    opacity: 1;
    left: 0;
  }
}
