@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

$navbar-light-hover-color: #fa7a70;
$navbar-light-color: #d4938b;
$navbar-light-active-color: #97534c;

.home-icon {
  margin-bottom: 1px;
}

.navbar {
  font-family: "Montserrat", "sans-serif";
  font-weight: 300;
}

.navigation {
  background-color: #fff5f0;
}

.navlinks {
  font-size: 1.1em;
  color: #ebbbaa;
  text-align: center;
  -webkit-transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out,
    background 1s ease;
}

.navlinks.navBtn {
  background: inherit;
  border-radius: 4px;
  background-position: center;
  background-image: radial-gradient(circle, transparent 1%, #f6f1ee 1%);
  background-size: 15000%;
}

.navlinks:hover {
  transform: scale(1.1);
}

.navlinks.navBtn:active {
  background-color: #fac3c3;
  -webkit-transition: background 0s;
  -moz-transition: background 0s;
  -o-transition: background 0s;
  transition: background 0s;
  background-size: 100%;
}

.socialContainer {
  display: flex;
  flex-direction: row;
}

.verticalLine {
  border-left: 1px solid $navbar-light-hover-color;
  margin-left: 8px;
  margin-right: 8px;
}

/*************************************
            MOBILE
*************************************/

@media screen and (max-width: 766px) {
  .navlinks {
    font-size: 1.3em;
    text-align: start;
    transition: letter-spacing 0.3s ease-in-out, color 0.3s ease-in-out,
      background 1.4s;
  }

  .navlinks:hover {
    transform: initial;
    letter-spacing: 1.5px;
  }

  .socialContainer {
    margin-top: 16px;
    justify-content: center;
  }

  .socialIcons {
    font-size: 2em;
  }
}

.navbar-toggle-icon {
  background: $navbar-light-hover-color;
}

// .navToggleBtn:hover {
//   background: $navbar-light-hover-color;
// }
